.btn {
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #f68b1e;
    color: white;
    font-size: .875rem;
    font-weight: 700;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}

.btn:hover{
  background-color: #e65e00;
}
/* .btn.outline {
  border: 1px solid orange;
  background: transparent;
  color: orange;
} */
