.description-container {
  margin-top: 25px;
  padding-top: 20px;
  font-family: Arial, sans-serif;
}

.description-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

.description-text {
  font-size: 14px;
  line-height: 1.6;
  color: #444;
  margin-bottom: 18px;
}

.report-link {
    margin-top: 8rem;
  font-size: 14px;
  color: #1a73e8;
  cursor: pointer;
}
