.gallery-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* BRAND ROW */
.brand-row {
  display: flex;
  align-items: center;
  gap: 8px; /* Natural Jumia spacing */
  margin-left: 10px;
}

.brand-name {
  font-size: 22px;
  font-weight: 700;
  color: #05529e;
}

/* MAIN IMAGE */
.main-image-wrapper {
  /* width: 100%; */
  display: flex;
  justify-content: center;  /* Center perfectly */
  padding-top: 5px;
}

.main-product-image {
  width: 80%;       /* Matches Jumia (not too big, not too tiny) */
  max-width: 350px; /* fallback for large screens */
  object-fit: contain;
}

/* BORDER UNDER IMAGE */
.share-title-border {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding: 0 18px;
}

/* SHARE SECTION */
.share-section {
  margin-top: 5px;
}

.share-title {
  font-size: 12px;
  color: #555;
  margin-bottom: 8px;
  font-weight: 600;
}

.share-icons {
  display: flex;
  gap: 12px;
  align-items: center;
}

.icon-circle {
  width: 35px;
  height: 35px;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-icon {
  width: 18px;
  height: 18px;
  fill: #000;
}
